* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 100vh;
    background-image: url("../images/construction1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.title {
    padding: 3%;
    color: white;
    text-shadow: 5px 5px 20px black;
    font-size: 4em;
}

.sticky {
    width: 100%;
    padding: 1%;
    color: black;
    text-shadow: none;
    position: fixed;
    top: 0%;
    font-size: 2.5em;
    background-color: white;
    box-shadow: 1px 1px 20px black;
    z-index: 999;
}

.know-more {
    position: absolute;
    width: 100%;
    top: 40%;
}

.know-more h2 {
    margin: 0% 0% 2% 0%;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 20px black;
}

.know-more button {
    margin: 0% 2%;
    padding: 1%;
    width: 22%;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.3em;
    box-shadow: 1px 1px 20px black;
}

.know-more button:hover {
    background-color: transparent;
    cursor: pointer;
}

.bus-list {
    width: 20%;
    position: absolute;
    left: 27%;
    color: black;
    list-style: none;
    background-color: white;
    visibility: hidden;
}

.bus-list:hover {
    visibility: visible;
}

.bus-list a {
    margin: 1% 0%;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.bus-list li {
    padding: 2% 0%;
}

.bus-list li:hover {
    background-color: rgb(200, 200, 200);
}

button#bus-book:hover+ul.bus-list {
    visibility: visible;
}

.scroll {
    width: 100%;
    color: white;
    text-shadow: 5px 5px 20px black;
    position: absolute;
    bottom: 3%;
    font-size: 2.2em;
}

.scroll a {
    color: white;
    text-decoration: none;
}

.scroll i {
    animation: blink 0.75s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.info {
    text-align: center;
}

.info h1 {
    margin: 2%;
    font-size: 3em;
}

.luxury h3,
.machinery h3 {
    margin: 0% 2%;
    font-size: 3em;
}

.luxury hr,
.machinery hr {
    margin: 0% auto 1%;
    width: 35%;
    height: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(249, 177, 22);
}

.sub-box {
    margin: 3%;
    display: flex;
    justify-content: center;
}

.sub-box img {
    height: 400px;
    width: 700px;
    margin: 0% 2%;
}

.sub-box p {
    padding: 3%;
    font-size: 1.5em;
}

#info-p {
    margin: 1% 0% 2% 0%;
    font-size: 1.5em;
    font-weight: bold;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: rgb(34, 34, 34);
    font-size: 1.2em;
    color: white;
    position: fixed;
    bottom: 0%;
}

.luxury,
.machinery,
.sub-box {
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .sticky {
        width: inherit;
        position: sticky;
        font-size: 1.5em;
    }

    .know-more h2 {
        font-size: 2em;
    }

    .know-more button {
        width: 40%;
    }

    .bus-list {
        width: 55%;
        left: 2%;
    }

    .scroll {
        font-size: 1.7em;
    }

    .info h1 {
        font-size: 2.5em;
    }

    .luxury h3,
    .machinery h3 {
        font-size: 2em;
    }

    .luxury hr,
    .machinery hr {
        width: 50%;
    }

    .sub-box {
        margin: 3% 0%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .sub-box img {
        margin: auto;
        width: 80%;
        height: 100%;
    }

    .sub-box p {
        font-size: 1.2em;
    }

    #info-p {
        padding: 1%;
    }

    .footer {
        width: inherit;
        position: sticky;
    }
}